* {
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
    height: 100%;
    width: 100%;
}

body {
    background: rgb(35, 35, 35);

    main {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;

        header {
            display: flex;
            align-items: center;
            height: 50px;
            min-height: 50px;
            background: rgb(25, 25, 25);
            border-bottom: 1px solid rgb(50, 50, 50);

            box-shadow: 0 0px 5px 2.5px rgba(0, 0, 0, 0.5);
            box-sizing: border-box;

            h4 {
                color: rgb(200, 200, 200);
                text-indent: 15px;
            }
        }

        section {
            height: 100%;
            width: 100%;
        }

        footer {
            height: 24px;
            min-height: 24px;
            background: rgb(25, 25, 25);
            border-top: 1px solid rgb(50, 50, 50);

            box-shadow: 0 0px 5px 2.5px rgba(0, 0, 0, 0.5);
            box-sizing: border-box;
        }
    }
}