<zt-tab-group>
    <zt-tab label="zyrotec tab 1">
        Hello
    </zt-tab>

    <zt-tab label="zyrotec tab 2">
        world
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>

    <zt-tab label="tab 3">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio nemo assumenda inventore exercitationem fuga deleniti unde doloremque esse numquam suscipit. Nesciunt nisi dignissimos maxime officiis? Quidem vero aperiam aut tenetur!
        </p>
    </zt-tab>
</zt-tab-group>

<button (click)="kwenter()">Click NE</button>